job "ghost" {
  datacenters = ["dc1"]
  type = "service"

  update {
    stagger      = "10s"
    max_parallel = 1
    min_healthy_time = "10s"
    auto_revert = true
    canary = 1

  }

  group "ghost" {
    count = {{ groups['agents'] | length -1 }}
    task "ghost" {
      driver = "docker"
      config {
        image = "ghost:alpine"
        port_map = {
          http = 2368
        }
      }

      service {
        port = "http"
        tags = ["blog"]
        check {
          type     = "http"
          path     = "/"
          interval = "10s"
          timeout  = "2s"
        }
      }

      resources {
        cpu    = 500
        memory = 512
        network {
          mbits = 1
          port "http" {}

        }
      }
    }
  }
}
